In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:

imports = pd.read_csv('India_imports_exports_1997_2022.csv')

In [4]:
imports.head()

,Country,Export,Import,Total Trade,Trade Balance,Financial Year(start),Financial Year(end)
0,AFGHANISTAN,21.25,10.7,31.95,10.55,1997,1998
1,AFGHANISTAN,12.81,28.14,40.95,-15.33,1998,1999
2,AFGHANISTAN,33.2,21.06,54.26,12.15,1999,2000
3,AFGHANISTAN,25.86,26.59,52.45,-0.73,2000,2001
4,AFGHANISTAN,24.37,17.52,41.89,6.85,2001,2002

In [11]:
imports.groupby('Financial Year(start)').value_counts()

Financial Year(start)  Country      Export  Import  Total Trade  Trade Balance  Financial Year(end)
1997                   AFGHANISTAN  21.25   10.7    31.95        10.55          1998                   1
                       ALBANIA      0.55    0.03    0.59         0.52           1998                   1
                       GUINEA       6.38    0.06    6.43         6.32           1998                   1
                       IRAN         171.66  633.01  804.66       -461.35        1998                   1
                       INDONESIA    437.27  731.63  1,168.90     -294.36        1998                   1
                                                                                                      ..
2022                   BHUTAN       283.86  97.47   381.33       186.38         till now               1
                       BERMUDA      1.2     0.05    1.26         1.15           till now               1
                       BENIN        188.56  127.5   316.06       61.05          till now               1
                       BELIZE       3.49    0.15    3.64         3.33           till now               1
                       ZIMBABWE     50.17   0.61    50.78        49.57          till now               1
Length: 5408, dtype: int64